In [1]:
# importing librarys
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('dataset\Algerian_forest_fires_dataset_cleaned.csv')

In [3]:
df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,0
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire,0
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,0
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,not fire,0
4,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire,0

In [4]:
df.columns

Index(['day', 'month', 'year', 'Temperature', 'RH', 'Ws', 'Rain', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes', 'Region'],
      dtype='object')

In [5]:
# dropping month,day and year as it will not be that usable for our model.
df.drop(['day','month','year'],axis=1,inplace=True)

In [6]:
# converting classes to 0 and 1 for our model
df['Classes']=np.where(df['Classes'].str.contains("not fire"),0,1)

In [8]:
df["Classes"].value_counts()

Classes
1    138
0    106
Name: count, dtype: int64

In [9]:
df.corr()

,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
Temperature,1.000000,-0.654443,-0.278132,-0.326786,0.677491,0.483105,0.370498,0.605971,0.456415,0.566839,0.518119,0.273496
RH,-0.654443,1.000000,0.236084,0.222968,-0.645658,-0.405133,-0.220330,-0.688268,-0.349685,-0.580457,-0.435023,-0.406424
Ws,-0.278132,0.236084,1.000000,0.170169,-0.163255,-0.001246,0.076245,0.012245,0.030303,0.033957,-0.066529,-0.176829
Rain,-0.326786,0.222968,0.170169,1.000000,-0.544045,-0.288548,-0.296804,-0.347862,-0.299409,-0.324755,-0.379449,-0.041080
FFMC,0.677491,-0.645658,-0.163255,-0.544045,1.000000,0.602391,0.503910,0.740751,0.590251,0.691430,0.770114,0.224680
DMC,0.483105,-0.405133,-0.001246,-0.288548,0.602391,1.000000,0.875358,0.678355,0.982206,0.875191,0.584188,0.191094
DC,0.370498,-0.220330,0.076245,-0.296804,0.503910,0.875358,1.000000,0.503919,0.941672,0.737041,0.507122,-0.081489
ISI,0.605971,-0.688268,0.012245,-0.347862,0.740751,0.678355,0.503919,1.000000,0.641351,0.922422,0.736142,0.266298
BUI,0.456415,-0.349685,0.030303,-0.299409,0.590251,0.982206,0.941672,0.641351,1.000000,0.856912,0.584545,0.087996
FWI,0.566839,-0.580457,0.033957,-0.324755,0.691430,0.875191,0.737041,0.922422,0.856912,1.000000,0.719407,0.198474
Classes,0.518119,-0.435023,-0.066529,-0.379449,0.770114,0.584188,0.507122,0.736142,0.584545,0.719407,1.000000,0.165363
Region,0.273496,-0.406424,-0.176829,-0.041080,0.224680,0.191094,-0.081489,0.266298,0.087996,0.198474,0.165363,1.000000

In [10]:
# Calculate the correlation matrix
corr_matrix = df.corr().abs()

# Create an upper triangle matrix of correlations (to avoid duplication)
upper_triangle = corr_matrix.where(
    np.triu(np.ones(corr_matrix.shape), k=1).astype(bool)
)

# Find columns with correlation greater than 0.85
to_drop = [column for column in upper_triangle.columns if any(upper_triangle[column] > 0.85)]

In [11]:
print(to_drop)

['DC', 'BUI', 'FWI']

There are three highly corelated coloumns. But FWI is our dependent value so I have to drop one coloumn between DC or BUI.
DC has one correlation higher than 0.85 but BUI has two correlation higher than 0.85, So dropping BUI make sense

In [12]:
# dropping BUI.
df.drop(['BUI'],axis=1,inplace=True)

In [13]:
## Independent And dependent features
X=df.drop('FWI',axis=1)
y=df['FWI']

In [14]:
X.shape, y.shape

((244, 10), (244,))

In [15]:
#Train Test Split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=42)

ModuleNotFoundError: No module named 'sklearn'